#apropos {
  background: rgb(252, 252, 252);
  background: linear-gradient(
    180deg,
    rgba(252, 252, 252, 1) 0%,
    rgba(228, 229, 228, 1) 0%,
    rgba(228, 229, 228, 0.18000703699448528) 100%
  );

  padding-bottom: 100px;
  margin-bottom: 30px;

  h1 {
    padding: 150px 22%;
    text-align: center;
    color: $color-primary;
    font-family: "Oswald-SemiLight";
    @media screen and (max-width: 816px) {
      padding: 150px 22%;
      font-size: 3rem;
      margin-bottom: 60px;
    }

    strong {
      font-family: "Oswald-SemiBold";
    }
  }
}
// .macaron {
//   img {
//     height: 30%;
//     width: 22%;
//     position: relative;
//     top: 10%;
//     left: 70%;
//     z-index: 1;
//   }
// }
