#contact {
  margin: 0 auto;
  .contact-info {
    padding: 0 12% 10%;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 1300px) {
      padding-top: 0;
      flex-wrap: wrap-reverse;
      text-align: center;
    }
    .info {
      width: 50%;
      margin-right: 3%;
      img {
        margin-right: 6%;
        margin-bottom: 3%;
        margin-top: 5%;
        max-width: 100%;
        height: auto;
      }
      // @media screen and (max-width: 736px) {
      // }
    }
  }
  h2 {
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 10%;
    font-size: 2rem;
    @media screen and (max-width: 933px) {
      text-align: center;
      margin-left: 0;
    }
    @media screen and (max-width: 736px) {
      font-size: 1.2rem;
    }
  }
  h3 {
    margin-top: 12%;
    font-size: 1.5rem;
    font-family: "Oswald Regular";
    font-weight: 300;
    @media screen and (max-width: 736px) {
      font-size: 0.75rem;
      margin-top: 0;
    }
  }
  p {
    line-height: 2;
    font-size: 1.5rem;
    font-weight: 300;
    @media screen and (max-width: 736px) {
      font-size: 1.1rem;
    }
  }
}
