footer {
  background-color: $color-dark;
  .foot-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 5%;
    line-height: 2;
    @media screen and (max-width: 928px) {
      flex-direction: column;
      text-align: center;
    }
    .logo {
      .secondary-icon {
        height: 100px;

        @media screen and (max-width: 1150px) {
          height: 80px;
          margin-right: 3rem;
        }
        @media screen and (max-width: 928px) {
          height: 150px;
          margin-left: 8%;
          margin-bottom: 5%;
        }
      }
    }
    .ft-c {
      i {
        margin: 30px 10px;
        font-size: 40px;
        color: white;
        transition: transform 0.2s ease-in-out;
        @media screen and (max-width: 928px) {
        }
      }

      i:hover {
        transform: scale(1.5);
      }
      h4 {
        margin-bottom: 15px;
        color: $color-secondary;
      }
    }
  }
  .mentions {
    display: flex;
    justify-content: center;
    padding-bottom: 1.3%;
    ul {
      li {
        color: white;
        display: inline-block;
        font-size: 14px;
      }
      a {
        color: white;
        font-size: 14px;
        font-family: "Oswald ExtraLight";
        padding-right: 10px;
      }
      .mentions:last-child {
        border: 2px solid white;
      }
    }
  }
}
