#roomsSection {
  #roomsContainer{
    .roomCard {
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.616);
      color: whitesmoke;
      width: 250px;
      min-height: 600px;
      background: rgb(22, 22, 22);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: url("../../assets/img/chateau-ambulant.jpg") center/cover;
      position: relative;
      h5 {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.3rem;
      }
      h3 {
        font-size: 2.5rem;
        text-align: center;
        font-weight: 600;

      }
      .roomSynopsis {
        padding: 10px;
      }
      p {
        display: flex;
        justify-content: space-around;
        .roomResaButton {
          background: #f7b32b;
          box-shadow: 1px 1px 1px rgba(22, 22, 22, 0.616);
          width: 120px;
          height: 30px;
          border-radius: 20px;
          text-align: center;
          padding: 2px;
          font-size: 1.4rem;
        }
        .roomSeeDetails {
          padding: 5px;
          font-weight: 300;
        }
      }
    }
  }
}
