// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Variables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$rootpath: "./.."; // overidden by _rootpathLocal.scss locally only, because file ignored in .gitignore

// font inclusion example
@font-face {
  font-family: "font-1";
  src: url('#{$rootpath}/assets/fonts/Roboto-Regular.ttf');
}
$font-1: "font-1", sans-serif;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Spec ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
