// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Variables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$rootpath: "./.."; // overidden by _rootpathLocal.scss locally only, because file ignored in .gitignore

// font inclusion example
@font-face {
  font-family: "Oswald-Regular";
  src: url("#{$rootpath}/assets/fonts/Oswald/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Oswald-Semi-bold";
  src: url("#{$rootpath}/assets/fonts/Oswald/Oswald-SemiBold.ttf");
}

@font-face {
  font-family: "Oswald-ExtraLight";
  src: url("#{$rootpath}/assets/fonts/Oswald/Oswald-ExtraLight.ttf");
}

$font-1: "Oswald-Regular", sans-serif;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Spec ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Main colours ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:root {
  --banner-c: #f6a11c;
}
