@charset "UTF-8";
a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

li {
  list-style: none;
}

body {
  font-family: "Oswald-Regular";
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("./../assets/fonts/Oswald/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Oswald-Semi-bold";
  src: url("./../assets/fonts/Oswald/Oswald-SemiBold.ttf");
}
@font-face {
  font-family: "Oswald-ExtraLight";
  src: url("./../assets/fonts/Oswald/Oswald-ExtraLight.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
}

.navbar {
  max-width: 100%;
  display: flex;
  background-color: #e4e5e4;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1190px) {
  .navbar {
    flex-direction: column;
  }
}
@media screen and (max-width: 1190px) {
  .navbar .logo {
    width: 100%;
  }
}
.navbar .logo .icon {
  height: 50px;
  margin-top: 22px;
}
@media screen and (max-width: 1190px) {
  .navbar .logo .icon {
    margin-left: 5%;
    margin-top: 116px;
  }
}
@media screen and (max-width: 1190px) {
  .navbar .nav-list {
    width: 40%;
    text-align: center;
    padding-top: 3%;
    display: none;
  }
}
.navbar .nav-list .list-item {
  padding: 5rem 2rem;
  text-transform: uppercase;
  display: inline-block;
}
@media screen and (max-width: 1190px) {
  .navbar .nav-list .list-item {
    display: block;
    padding: 3%;
  }
}
.navbar .nav-list .list-item a {
  letter-spacing: 2px;
  transition: all ease 0.5s;
  color: #18223b;
}
.navbar #hamburger {
  display: none;
  top: 20%;
  left: 80%;
  width: 40px;
  height: 22px;
  background: none;
  box-shadow: none;
  border: none;
  outline: 0;
  cursor: pointer;
  z-index: 10;
}
.navbar #hamburger #hamburger:active {
  display: block;
  position: absolute;
  right: 2rem;
  top: 15%;
}
@media screen and (max-width: 1190px) {
  .navbar #hamburger {
    display: block;
    position: absolute;
    right: 2rem;
    top: 123px;
  }
}
@media screen and (max-width: 924px) {
  .navbar #hamburger {
    display: block;
    position: absolute;
  }
}
@media screen and (max-width: 800px) {
  .navbar #hamburger {
    display: block;
    position: absolute;
  }
}
@media screen and (max-width: 414px) {
  .navbar #hamburger {
    display: block;
    position: absolute;
  }
}
.navbar #hamburger #hamburger:hover {
  cursor: pointer;
}
.navbar #hamburger span {
  position: absolute;
  left: 50%;
  width: 26px;
  height: 2px;
  background-color: #000;
}
.navbar #hamburger span:nth-child(1) {
  top: 0;
  transform: translateX(-50%) translateY(0);
}
.navbar #hamburger span:nth-child(2) {
  top: 8px;
  opacity: 1;
  transform: translateX(-50%);
}
.navbar #hamburger span:last-child {
  top: 16px;
  transform: translateX(-50%) translateY(0);
}
.navbar #hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translateX(-50%) translateY(0) rotate(45deg);
}
.navbar #hamburger.active span:nth-child(2) {
  opacity: 0;
}
.navbar #hamburger.active span:last-child {
  top: 50%;
  transform: translateX(-50%) translateY(0) rotate(-45deg);
}
.navbar .active {
  display: block;
  position: absolute;
  height: 30%;
  width: 35%;
  background-color: #b4bbc4;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  text-align: center;
  left: 60%;
  top: 18%;
  opacity: 0.95;
}

#presentation .prez {
  display: flex;
  justify-content: center;
  padding: 0 10%;
  margin: 10% 0;
  line-height: 1.75;
}
@media screen and (max-width: 1059px) {
  #presentation .prez {
    flex-direction: column;
  }
}
#presentation .prez .card {
  padding: 5%;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 1059px) {
  #presentation .prez .card {
    padding-bottom: 10%;
  }
}
#presentation .prez .card .card + .card {
  margin-left: 3%;
}
#presentation .prez .card .circle img {
  height: 120px;
  margin-bottom: 15%;
}
@media screen and (max-width: 933px) {
  #presentation .prez .card .circle img {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 1059px) {
  #presentation .prez .card .circle img {
    margin-bottom: 10%;
    height: 180px;
  }
}
@media screen and (max-width: 1059px) {
  #presentation .prez .card .circle img {
    height: 120px;
  }
}
#presentation .prez .card h2 {
  color: #f6a11c;
  text-transform: uppercase;
  margin-bottom: 5%;
}
#presentation .prez .card strong {
  color: #f6a11c;
}
#presentation .prez .card p {
  font-size: 1.2rem;
}

#star-wars {
  padding: 40px 10% 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding: 5% 10% 55% 5%;
  height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

#apropos {
  background: #fcfcfc;
  background: linear-gradient(180deg, #fcfcfc 0%, #e4e5e4 0%, rgba(228, 229, 228, 0.180007037) 100%);
  padding-bottom: 100px;
  margin-bottom: 30px;
}
#apropos h1 {
  padding: 150px 22%;
  text-align: center;
  color: #18223b;
  font-family: "Oswald-SemiLight";
}
@media screen and (max-width: 816px) {
  #apropos h1 {
    padding: 150px 22%;
    font-size: 3rem;
    margin-bottom: 60px;
  }
}
#apropos h1 strong {
  font-family: "Oswald-SemiBold";
}

#roomsSection #roomsContainer {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
}
#roomsSection #roomsContainer h2 {
  text-transform: uppercase;
  height: 100px;
  padding-top: 60px;
  color: #1e1e1e;
  margin-bottom: 30px;
}
#roomsSection #roomsContainer .roomCard {
  margin: 15px 0;
  color: whitesmoke;
  width: 100%;
  border-radius: 60px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-template-areas: "txt img";
  position: relative;
  transition: 0.3s ease-out;
}
#roomsSection #roomsContainer .roomCard:hover {
  height: 330px;
}
#roomsSection #roomsContainer .roomCard:hover .hiddenButton {
  display: block;
}
#roomsSection #roomsContainer .roomCard .cardContent {
  grid-area: txt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #d1d1d1;
  background: linear-gradient(90deg, #d1d1d1 65%, #e4e5e4 100%);
  color: #1e1e1e;
  border-radius: 15px 0 0 15px;
  padding: 20px;
}
#roomsSection #roomsContainer .roomCard .cardContent .cardTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#roomsSection #roomsContainer .roomCard .cardContent .cardTitle h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
#roomsSection #roomsContainer .roomCard .cardContent .cardTitle span {
  color: #f6a11c;
  font-size: 1.2rem;
}
#roomsSection #roomsContainer .roomCard .cardContent .roomSynopsis {
  font-size: 0.8rem;
  text-align: left;
}
#roomsSection #roomsContainer .roomCard .cardContent .roomSynopsis .hiddenText {
  display: none;
}
#roomsSection #roomsContainer .roomCard .cardContent .roomResaButton {
  width: 200px;
  height: 30px;
  background: #f6a11c;
  border-radius: 5px;
  text-align: center;
  margin: 15px;
  padding-top: 3px;
  text-transform: uppercase;
  align-items: center;
  transition: 0.3s ease;
}
#roomsSection #roomsContainer .roomCard .cardContent .roomResaButton:hover {
  transform: scale(1.1);
}
#roomsSection #roomsContainer .roomCard .cardContent .hiddenButton {
  display: none;
}
#roomsSection #roomsContainer .roomCard .cardContent .cardInfos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gameTime {
  width: 70px;
  display: flex;
  justify-content: space-between;
}
#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gameTime i {
  padding-top: 4px;
}
#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gamePlayers {
  width: 70px;
  display: flex;
  justify-content: space-between;
}
#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gamePlayers img {
  padding-top: 4px;
}
#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gameAge {
  width: 70px;
  display: flex;
  justify-content: space-between;
}
#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gameLevel {
  width: 70px;
  display: flex;
  justify-content: space-between;
}
#roomsSection #roomsContainer .roomCard .cardImage {
  grid-area: img;
}
#roomsSection #roomsContainer .roomCard #roomCard4Img {
  background: linear-gradient(280deg, black 0%, rgba(0, 0, 0, 0.233) 40%, rgba(0, 0, 0, 0) 100%), url("./../assets/img/star-wars-death-star-2.jpg") center/cover;
}
#roomsSection #roomsContainer .roomCard #roomCard1Img {
  background: linear-gradient(280deg, black 0%, rgba(0, 0, 0, 0.233) 40%, rgba(0, 0, 0, 0) 100%), url("./../assets/img/chateau-ambulant.jpg") center/cover;
}
#roomsSection #roomsContainer .roomCard #roomCard2Img {
  background: linear-gradient(280deg, black 0%, rgba(0, 0, 0, 0.233) 40%, rgba(0, 0, 0, 0) 100%), url("./../assets/img/chucky.png") center/cover;
}
#roomsSection #roomsContainer .roomCard #roomCard3Img {
  background: linear-gradient(280deg, black 0%, rgba(0, 0, 0, 0.233) 40%, rgba(0, 0, 0, 0) 100%), url("./../assets/img/souterrainsjpg.jpg") right/cover;
}

#resaSection {
  background: #18223b;
  color: #e4e5e4;
}
#resaSection #resaContainer {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 70px;
}
#resaSection #resaContainer h2 {
  text-transform: uppercase;
  height: 100px;
  padding-top: 60px;
}
#resaSection #resaContainer #resaInputs {
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#resaSection #resaContainer #resaInputs label {
  color: #f6a11c;
  font-size: 1.2rem;
  margin: 10px 0;
}
#resaSection #resaContainer #resaInputs select,
#resaSection #resaContainer #resaInputs input {
  font-size: 1.1rem;
  background: #e4e5e4;
  color: #1e1e1e;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
}
#resaSection #resaContainer #resaInputs select option,
#resaSection #resaContainer #resaInputs input option {
  font-size: 1.2rem;
}
#resaSection #resaContainer .flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext {
  position: relative;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities #resaAvailabilitiesTitle {
  font-size: 1.3rem;
  color: #f6a11c;
  margin-bottom: 20px;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 {
  width: 50%;
  margin-right: 30px;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine:after,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine:after {
  content: "";
  border: 1px solid rgba(245, 245, 245, 0.603);
  position: absolute;
  bottom: -10px;
  width: 93%;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine .resaHour,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine .resaHour {
  width: 65%;
  text-align: left;
  font-size: 1.3rem;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine .resaAvailable,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine .resaAvailable {
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  background: #f6a11c;
  color: #1e1e1e;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(245, 245, 245, 0.301);
  transition: 0.3s ease;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine .resaAvailable:hover,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine .resaAvailable:hover {
  transform: scale(1.1);
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine .resaUnavailable,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine .resaUnavailable {
  width: 25%;
  text-align: center;
  text-transform: uppercase;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities #resaPreviousNextButtons {
  margin: 40px 0;
  padding-left: 70px;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities #resaPreviousNextButtons button {
  text-transform: uppercase;
  font-size: 0.7rem;
  background: #e4e5e4;
  color: #1e1e1e;
  text-align: center;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  margin: 0 2px;
  cursor: pointer;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaNextButton {
  position: absolute;
  bottom: 20px;
  right: 0px;
  height: 40px;
  width: 150px;
  background: #f6a11c;
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s ease;
}
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaNextButton:hover {
  transform: scale(1.1);
}

/* The Modal (background) */
.modal {
  display: none;
  /* à remettre avant mise en prod !!! */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  min-height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content */
}
.modal .modal-content {
  background-color: #18223b;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 600px;
  /* The Close Button */
}
.modal .modal-content #recapModalContainer {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr;
  grid-template-areas: "prev descr res";
}
.modal .modal-content #recapModalContainer #btnReturnToResa {
  grid-area: prev;
  height: 40px;
  width: 100%;
  background: #f6a11c;
  color: #1e1e1e;
  border-radius: 15px;
  margin-top: 20px;
}
.modal .modal-content #recapModalContainer #recapModalContent {
  grid-area: descr;
  padding: 20px;
}
.modal .modal-content #recapModalContainer #recapModalContent h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.modal .modal-content #recapModalContainer #recapModalContent #resaRecapContent {
  height: 100px;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 20px 0;
}
.modal .modal-content #recapModalContainer #recapModalContent h4 {
  color: #f6a11c;
  font-size: 1.1rem;
  font-weight: 100;
  margin-bottom: 30px;
}
.modal .modal-content #recapModalContainer #recapModalContent form .flexColLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.modal .modal-content #recapModalContainer #recapModalContent form label {
  color: #f6a11c;
}
.modal .modal-content #recapModalContainer #recapModalContent form input {
  margin: 10px 0 20px;
  height: 35px;
  border-radius: 20px;
  padding: 0 10px;
}
.modal .modal-content #recapModalContainer #btnConfirmResa {
  grid-area: res;
  height: 40px;
  width: 100%;
  background: #f6a11c;
  color: #1e1e1e;
  border-radius: 15px;
  margin-top: 465px;
}
.modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#contact {
  margin: 0 auto;
}
#contact .contact-info {
  padding: 0 12% 10%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1300px) {
  #contact .contact-info {
    padding-top: 0;
    flex-wrap: wrap-reverse;
    text-align: center;
  }
}
#contact .contact-info .info {
  width: 50%;
  margin-right: 3%;
}
#contact .contact-info .info img {
  margin-right: 6%;
  margin-bottom: 3%;
  margin-top: 5%;
  max-width: 100%;
  height: auto;
}
#contact h2 {
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: 10%;
  font-size: 2rem;
}
@media screen and (max-width: 933px) {
  #contact h2 {
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 736px) {
  #contact h2 {
    font-size: 1.2rem;
  }
}
#contact h3 {
  margin-top: 12%;
  font-size: 1.5rem;
  font-family: "Oswald Regular";
  font-weight: 300;
}
@media screen and (max-width: 736px) {
  #contact h3 {
    font-size: 0.75rem;
    margin-top: 0;
  }
}
#contact p {
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 300;
}
@media screen and (max-width: 736px) {
  #contact p {
    font-size: 1.1rem;
  }
}

footer {
  background-color: #1e1e1e;
}
footer .foot-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 5%;
  line-height: 2;
}
@media screen and (max-width: 928px) {
  footer .foot-nav {
    flex-direction: column;
    text-align: center;
  }
}
footer .foot-nav .logo .secondary-icon {
  height: 100px;
}
@media screen and (max-width: 1150px) {
  footer .foot-nav .logo .secondary-icon {
    height: 80px;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 928px) {
  footer .foot-nav .logo .secondary-icon {
    height: 150px;
    margin-left: 8%;
    margin-bottom: 5%;
  }
}
footer .foot-nav .ft-c i {
  margin: 30px 10px;
  font-size: 40px;
  color: white;
  transition: transform 0.2s ease-in-out;
}
footer .foot-nav .ft-c i:hover {
  transform: scale(1.5);
}
footer .foot-nav .ft-c h4 {
  margin-bottom: 15px;
  color: #f6a11c;
}
footer .mentions {
  display: flex;
  justify-content: center;
  padding-bottom: 1.3%;
}
footer .mentions ul li {
  color: white;
  display: inline-block;
  font-size: 14px;
}
footer .mentions ul a {
  color: white;
  font-size: 14px;
  font-family: "Oswald ExtraLight";
  padding-right: 10px;
}
footer .mentions ul .mentions:last-child {
  border: 2px solid white;
}

/*# sourceMappingURL=style.css.map */
